.container-home {
    display: flex;
    justify-content: flex-end;
    /* Đẩy nội dung về bên phải */
    align-items: center;
    padding-right: 5%;
    /* Thêm khoảng cách từ phải nếu cần */
    min-height: 100vh;
    /* Để căn giữa theo chiều dọc */


}

.home {
    width: 90%;

    max-width: 1350px;

    margin-right: 0;

    display: flex;
    flex-direction: column;
    /* Sắp xếp theo chiều dọc */
    align-items: center;
    /* Căn các phần tử về bên phải */
}

.game-thumbnail {
    filter: brightness(0.9);
    /* Giảm độ sáng mặc định */
}

.game-thumbnail:hover {
    filter: brightness(1.1);
    /* Tăng độ sáng khi hover vào */
}