.movie-item-title {
    max-height: 100px;

    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-line-clamp: 1;

    -webkit-box-orient: vertical;
    white-space: normal;

}

.movie-item-synopsis {
    max-height: 100px;

    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    z-index: 2;

}