.thumbnail {
    filter: brightness(0.9);
    /* Giảm độ sáng mặc định */
    cursor: pointer;
    user-select: none;
}

.thumbnail:hover {
    filter: brightness(1.1);
    cursor: pointer;
    user-select: none;
    /* Tăng độ sáng khi hover vào */
}